.whole-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 40px solid transparent;
    
}

header h1{
    text-align: center;
    color: saddlebrown;
    
}

header h3{
    text-align: center;
    
}

.container-fluid{
    background-image: url('images/155064.jpg');
    
}
.column{
    height:50px;
    width:10%;
    border:3px solid black;
  }
  .container-fluid{
  

    text-align:center;
    margin:auto;
  }
  .row{
    flex-wrap:nowrap;
    justify-content: center;
  }


#mole{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
}

#explode{
    height: 50px;
    width: 50px;
    background-image: url('./Xy8CttI.gif');
    background-size: contain;
}