.whole-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url('images/155064.jpg');
}

.rover-image{
  height: 50px;
  width: 50px;
}
.column{
    height:50px;
    width:10%;
    border:1px solid black;
  }
  .container-fluid{
  
    border: 40px solid transparent;
    text-align:center;
    margin:auto;
  }
  .row{
    flex-wrap:nowrap;
    justify-content: center;
  }


#mole{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
}

#explode{
    height: 50px;
    width: 50px;
    background-image: url('./Xy8CttI.gif');
    background-size: contain;
}